/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap');

html {
    font-family: sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3em;
}

h1,
h2 {
    font-family: 'Noto Serif Display', serif;
}

nav ul {
    list-style: none;
}