/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Asap', sans-serif;
    margin: 1em;
}

header h1 {
    text-align: center;
    font-size: 3em;
}

h1,
h2 {
    font-family: 'Noto Serif Display', serif;
}

nav ul {
    list-style: none;
}

blockquote {
    font-style: italic;
}

figcaption {
    margin-right: 1em;
    text-align: right;
    font-size: 0.8em;
}

.citation {
    font-size: 0.8em;
    text-align: center;
}

footer p {
    font-size: 0.5em;
    text-align: center;
}

/* Mobile Format */
@media screen and (max-width: 750px) {
    html {
        text-align: justify;
    }

    iframe {
        width: 450px;
        height: 300px;
    }
}

/* Tablet Format */
@media screen and (min-width: 751px) and (max-width:2048px) {
    html {
        text-align: justify;
    }

    iframe {
        width: 975px;
        height: 650px;
    }
}

/* Desktop Format */
@media screen and (min-width: 2049px) {
    html {
        text-align: left;
    }

    iframe {
        width: 800px;
        height: 600px;
    }
}