@media only screen and (max-width: 768px) {
    [class *= "col-"] {
        width: 100%;
    }
    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

#leftAside {
    grid-column: 1;
    grid-row: 1;
}

#rightAside {
    grid-column: 3;
    grid-row: 1;
}

section {
    grid-column: 2;
    grid-row: 1;
}

footer {
    text-align: center;
}