/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');


section {
    background: #51F1FF;
    grid-area: section;
}

#leftAside {
    background: #64FFC2;
    grid-area: leftAside;
}

#rightAside {
    background: #FF8063;
    grid-area: rightAside;
}

nav {
    background: #D0FF89;
}

/* Mobile Format */
@media screen and (max-width: 640px) {
    main {
        display: grid;
        grid-template-columns:
        1fr;
        grid-template-areas:
        "section"
        "leftAside"
        "rightAside";
    }
}

/* Tablet Format */
@media screen and (min-width: 641px) and (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns:
        1fr 1fr;
        grid-template-areas:
        "section section"
        "leftAside rightAside";
    }
    nav ul {
        display: block;
    }
}

/* Windows Format */
@media screen and (min-width: 901px) {
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
    
        list-style: none;

        padding: .5em;
    }
    main {
        display: grid;
        grid-template-columns:
        1fr 1fr 1fr;
        margin: 1em;
        grid-template-areas:
        "leftAside section rightAside";
    }
}

#leftAside,
#rightAside,
section {
    padding: 1em;
}

html {
    font-family: 'Antic', sans-serif;
    color: #07183A;
    background-color: #7AB2FF;
}

header {
    font-family: 'Baskervville', serif;
    text-align: center;
}

footer {
    text-align: center;
    background: #F393FF;
}

nav ul {
    list-style: none;
}