/** Importing fonts from Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 30pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 12pt;
}

aside {
    width: 30%;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

/** Different asides for different placements **/
.asideRight {
    float: right;
}

.asideLeft {
    float: left;
}

table {
    margin-left: 75px;
    width: 100%;
    text-align: left;
}

th {
    font-weight: bold;
    vertical-align: text-top;
    width: 40%;
}

footer {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 10pt;
}