/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html {
    background-color: #D5E6CB;
    color: #564295;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 30pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}

/* Colour for unvisited link */
a:link {
    color: #8b506d;
}

/* Colour for hover and visited link */
a:hover,
a:visited {
    color: #381a3e;
}

aside {
    width: 30%;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

#asideTable {
    background-color: #9594C0;
    color: #1B1B1B;
}

/* Different coloured links for aside table */
#asideTable a:link {
    color: #4D223E;
}

#asideTable a:hover,
#asideTable a:visited {
    color: #38192D;
}

/* Different asides for different placements */
.asideRight {
    float: right;
    margin-left: 1%;
}

.asideLeft {
    float: left;
    margin-right: 1%;
}

table {
    margin-left: 15%;
    width: 100%;
    text-align: left;
    padding-bottom: 15%;
    padding-top: 5%;
    font-size: 12pt;
}

th {
    font-weight: bold;
    vertical-align: text-top;
    width: 40%;
}

footer {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 10pt;
}